body {
    background-image: url(code.jpg);
    background-size: 100% 140%;
}


h1 {
    text-align: center;
    color: whitesmoke;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    color: whitesmoke;
    text-decoration-line: overline;
}
p {
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    width: 50%;
    overflow-wrap: break-word;
    text-align: unset;
}

img {
    width: 500px;
    border: 10px solid whitesmoke;
    border-radius: 50px;
}

.container {
    position: absolute;
}